/* Fixing the lack of colourful buttons */
.btn.btn-primary {
  background: $accent-colour;
}
.btn.btn-primary:hover,
.btn.btn-primary:active {
  background: lighten($accent-colour, 20%);
  //background: #00a3f4;
}
.btn, nav.post-controls button.d-hover, .discourse-tag.box {
    background: #CCC;
}