/* Fix for button labels overflowing in header */

.d-header {
  font-family: sans-serif;
  font-size: 14px;

  .icons [class^="fa fa-"] {
    width: auto; /* Let the width be sorted by the content of the labels */
    padding: 0 0.2em;
  }

  .fa-bars:after {
    font-family: sans-serif;
    font-size: 14px;
    content: " Menu";
  }

  .fa-search:after {
    @extend .fa-bars:after;
    content: " Search";
  }
}