#main {
  background: $bgdark;
  min-height: 100vh;
}

body, .ember-application {
  min-height: 100vh;
}

[id="main-outlet"] {
    background: #fafafa;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}
    
[id="reply-control"] {
    box-shadow: 0 -2px 4px -1px rgba(0,0,0,0.25);
}