// Topic Separator - The bar indicating new posts since 'last visit'
.topic-list .topic-list-item-separator td {
    border-color: #ac4911;
}
    
.topic-list .topic-list-item-separator td span {
    color: #ac4911 !important;
    background: #fafafa;
}

/* New topic title colors */

.topic-list a.title {
    color: $accent-colour;
/*  font-weight: bold; */
}

.topic-list a.title.visited:not(.badge-notification) {
    color: #000;
/*  font-weight: normal; */
}

// The topic list area margin

#list-area {
    margin-bottom: 0;
}

.category-list tbody tr:hover, .topic-list-item:hover {
    background: #d8f1ff;
}