/* Add border to top of topic body and avatar since they're inconsistent
   Shouldn't use this rule in the mobile view since it doesn't use it*/

.topic-body, .topic-avatar {
    border-top: 1px solid #CCC;
}
    
.category-list tbody tr {
    border-bottom: 1px solid #CCC;
}
    
aside.onebox {
    background: #FFF;
}

pre code {
    background: #e8e8e8;
}

blockquote {
    border-left: 5px solid #bbb;
    background-color: #e8e8e8;
}

aside.quote .title {
    border-left: 5px solid #bbb;
    background-color: #e8e8e8;
}

aside.onebox {
    border: 5px solid #e8e8e8;
}

/* Fix images being middle aligned in posts */
.topic-body .contents img {
    vertical-align: bottom;
}